.list-group-item {
    background-color: transparent;
}

.ui-dragable-dragging{
z-index:99;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
    background: transparent;
    color: inherit;
}

div.add-todo-section{
display:none;
}

div.alert{
    display:none;
}

.card-body ul.list-group li{
cursor: pointer;
}

.fa, .fas{
    font-size: 20px;
}